.progressWrap {
  margin-top: 16px;

  .progressBar {
    margin-bottom: 10px;
  }
}
.passwordHint {
  color: var(--inverse-color);
  font-size: var(--font-small);
  display: flex;
  row-gap: 8px;
  align-items: center;
  opacity: 0.6;
  margin-bottom: 10px;
  // :global {
  svg {
    display: inline-block;
    margin-inline-end: 10px;
  }
  // }
}
.valid.valid {
  opacity: 1;
  // :global {
  path {
    fill: var(--green-color);
  }
  // }
}

.countryCode {
  display: block;
}
