.headBox {
  padding: 20px;
  width: 80%;
  background-color: var(--main-color);
  border-radius: 8px;
  margin: 0 auto;
  @media (max-width: 575.99px) {
    padding: 10px;
  }
  h2 {
    margin-bottom: 0;
    color: var(--white-color);
    text-align: center;
    font-size: var(--font-xx-large);
  }
}
